In [1]:
import os

In [2]:
a=10
b=7.89
c='DataScience'

print (a)

10

In [3]:
del a,b,c

In [17]:
pri = 45
#'int' object is not callable

In [1]:

k = range(100,1000,8) 
for n in k:
    print (n)

100
108
116
124
132
140
148
156
164
172
180
188
196
204
212
220
228
236
244
252
260
268
276
284
292
300
308
316
324
332
340
348
356
364
372
380
388
396
404
412
420
428
436
444
452
460
468
476
484
492
500
508
516
524
532
540
548
556
564
572
580
588
596
604
612
620
628
636
644
652
660
668
676
684
692
700
708
716
724
732
740
748
756
764
772
780
788
796
804
812
820
828
836
844
852
860
868
876
884
892
900
908
916
924
932
940
948
956
964
972
980
988
996

In [34]:
k= int(input("Enter a value"))
for a in range(k):
    print (a)
    if a== k/2 :
        break

Enter a value8
0
1
2
3
4

In [35]:
def sample_function():
    """Demonstrating the doc string """
    print('Doc string function')
print(sample_function.__doc__)

Demonstrating the doc string

In [4]:
import Test_Package

In [4]:
from Test_Package import test_file
a= test_file.side_one
b= test_file.side_two
c= test_file.side_three
s = (a+b+c)/2
print(s)
area = (s*(s-a) * (s-b) * (s-c)) ** 0.5
print (area)

22.0
87.74964387392122

In [5]:
print ([a for a in range(100) if a%2 == 1])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [31]:
 nam = 'imran' 
 k = [s for s in nam if s not in ('a','e','o','i','u') ]
print (k)

['m', 'r', 'n']